<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Email Confirmation</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color: #fff; margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="515">
                    <tr>
                        <td style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="75%">
                                        <img src="https://i.ibb.co/YQDZNmP/Daily-Room-Logo.png" width="150px" style="background:#0064d2;padding-left:10px;padding-right:10px;" />
                                    </td>
                                    <td align="right" width="25%" style="font-size:28px;font-weight:bold;font-family:Arial,sans-serif;color:#505050;">
                                        Activation
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr style="border:0.01px solid #cccccc;" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#fff" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                            <div style="padding:0px 0px 30px 0px;text-align:left;color:#505050;font-size:45px;font-weight:100;font-family:Arial,sans-serif;line-height:50px">
                                Verify Your Email To Finish Register!
                            </div>
                            <div>
                                <h6 style="margin:0px 0px 0px 0px;color:#505050;">Hello :</h6>
                                <h6 style="margin:10px 0px 0px 0px;color:#505050;">{{email}}</h6>
                            </div>
                            <div style="padding:30px 50px 30px 50px;text-align:left;color:#707070;font-size:16px;font-weight:300;font-family:Arial,sans-serif;font-size:16px;line-height:20px">
                                You are almost ready to start enjoying our apps. Simply click the big button below to activate your account. And let's get your room now!
                            </div>
                            <div>
                                <a href="{{directLink}}/false">
                                    <input type="button" value="Click Me" style="width:50%;background-color:#0064d2;color:#ffffff;padding:15px 32px;border:none;font-size:14px;font-family:Arial,sans-serif;font-weight:700;">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr style="border:0.01px solid #cccccc;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#fff" style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #0064d2; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                        &reg; Dailyroom, <b>My Apps 2020</b><br/>
                                        <a href="#" style="color: #0064d2;"><font color="#0064d2">Unsubscribe</font></a> to this newsletter instantly
                                    </td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="http://www.twitter.com/" style="color: #ffffff;">
                                                        <img src="https://image.flaticon.com/icons/png/512/3437/3437395.png" alt="Twitter" width="35" height="35" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="http://www.facebook.com/" style="color: #ffffff;">
                                                        <img src="https://image.flaticon.com/icons/png/512/3435/3435918.png" alt="Facebook" width="35" height="35" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>